.gradient {
  position: absolute;
  width: 0px;
  height: 120px;
  left: 322px;
  top: 177px;
  $border: 5px;
  border: solid $border transparent;
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: -$border;
    background: linear-gradient(#3877EE, #EF5DA8);
  }
}
