.micro-numbers {
  position: absolute;
  width: 36px;
  height: 18px;
  left: 487.5px;
  top: 697px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #42567a;
}
